{% extends 'base.html' %}

{% load i18n ideascube_tags %}

{% block extra_head %}
    {% include 'ideascube/includes/form_statics.html' %}
{% endblock extra_head %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" id="{% block form_id %}model_form{% endblock %}">
        <div class="row">
            {% block heading %}{% endblock heading %}
        </div>
        <div class="row no-margin">
            {% block _form_content %}
            <div class="col two-third">
                {% csrf_token %}
                {% block form %}
                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}
                {% endblock form %}
                <div class="row right-align">
                    {% block form_foot %}
                        <a class="spaced button neutral" href="{% block cancel_url %}{% endblock %}">{% trans 'cancel' %}</a>
                        {% block extra_form_foot %}
                        {% endblock extra_form_foot %}
                        <input type="submit" class="spaced" value="{% trans 'submit' %}" />
                    {% endblock form_foot %}
                </div>
            </div>
            {% endblock _form_content %}
        </div>
    </form>
{% endblock content %}
