{% extends 'two-third-third.html' %}

{% load i18n ideascube_tags static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "mediacenter/mediacenter.css" %}">
{% endblock extra_head %}

{% block twothird %}
    <h5><a href="{% url 'mediacenter:index' %}">&lt; {% trans 'View all medias' %}</a></h5>
    <h2><span class="theme discover">{{ document.slug }}</span> {{ document }}</h2>
    {% if document.kind == document.IMAGE %}
        <img src="{% media document 'original' %}" />
    {% elif document.kind == document.VIDEO %}
        <video controls preload="none" width="100%"
            {% if document.preview %}
                poster="{% media document 'preview' %}"
            {% endif %}
        >
            <source src="{% media document 'original' %}">
            {% trans "Your web browser doesn't support this media type." %}
        </video>
    {% elif document.kind == document.AUDIO %}
        <audio controls preload="none" width="100%">
            <source src="{% media document 'original' %}">
            {% trans "Your web browser doesn't support this media type." %}
        </audio>
    {% elif document.preview %}
        <a href="{% media document 'original' %}"><img src="{% media document 'preview' %}" /></a>
    {% endif %}
    <div class="text">{{ document.summary|safe }}</div>
    <div>
        <a class="button" href="{% media document 'original' %}"><span class="fa fa-download fa-fw"></span>
            {% blocktrans with kind=document.KIND_DICT|getitem:document.kind %}
                Download {{ kind }}
            {% endblocktrans %}</a>
    </div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        {% if document.package_id %}
            <div class="card tinted admin">
               {% blocktrans with package_id=document.package_id %}
                   Cannot edit or delete this document.
                   It is installed by the "{{ package_id }}" package.
               {% endblocktrans %}
            </div>
        {% else %}
            <ul class="card tinted admin">
                <li>{% fa 'pencil' 'fa-fw' %}<a href="{% url 'mediacenter:document_update' pk=document.pk %}">{% trans 'Edit' %}</a></li>
                <li>{% fa 'trash' 'fa-fw' %}<a href="{% url 'mediacenter:document_delete' pk=document.pk %}">{% trans 'Delete' %}</a></li>
            </ul>
        {% endif %}
    {% endif %}
    {% tag_cloud url="mediacenter:index" model=view.model tags=document.tags.all %}
{% endblock third %}
